.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
  margin-top: 20px;
}

.dark-mode .video-list {
  background: #0f0f0f;
}
